In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [2]:
crop_data=pd.read_csv("crop_production.csv")
crop_data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [3]:
crop_data = crop_data.dropna()
crop_data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [4]:
crop_data['Yield'] = (crop_data['Production'] / crop_data['Area'])
crop_data.head(10)

C:\Users\siddh\AppData\Local\Temp\ipykernel_14688\2128531304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crop_data['Yield'] = (crop_data['Production'] / crop_data['Area'])

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,1.594896
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,0.500000
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,3.147059
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,3.642045
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,0.229167
5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.0,3583.223250
6,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.0,2.777778
7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sugarcane,1.0,2.0,2.000000
8,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sweet potato,5.0,15.0,3.000000
9,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Tapioca,40.0,169.0,4.225000

In [5]:
data = crop_data.drop(['State_Name'], axis = 1)

In [6]:
dummy = pd.get_dummies(data)
dummy

,Crop_Year,Area,Production,Yield,District_Name_24 PARAGANAS NORTH,District_Name_24 PARAGANAS SOUTH,District_Name_ADILABAD,District_Name_AGAR MALWA,District_Name_AGRA,District_Name_AHMADABAD,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,2000,1254.0,2000.0,1.594896,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2000,2.0,1.0,0.500000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2000,102.0,321.0,3.147059,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2000,176.0,641.0,3.642045,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2000,720.0,165.0,0.229167,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246086,2014,306.0,801.0,2.617647,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
246087,2014,627.0,463.0,0.738437,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
246088,2014,324.0,16250.0,50.154321,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
246089,2014,279151.0,597899.0,2.141848,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
246090,2014,175.0,88.0,0.502857,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
from sklearn.model_selection import train_test_split

x = dummy.drop(["Production","Yield"], axis=1)
y = dummy["Production"]

# Splitting data set - 25% test dataset and 75% 

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25, random_state=5)

In [8]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 11)
model.fit(x_train,y_train)
#pickle.dump(model, open('model.sav', 'wb'))
rf_predict = model.predict(x_test)
rf_predict

array([ 3722.91818182,   612.72727273,  2402.90909091, ...,
         180.87272727, 10031.54545455,   100.        ])

In [9]:
model.score(x_test,y_test)

0.9612256961005892

In [10]:
# Calculating R2 score

from sklearn.metrics import r2_score
r1 = r2_score(y_test,rf_predict)
print("R2 score : ",r1)

R2 score :  0.9612256961005892

In [12]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [13]:
print(x_train)
print(x_test)

[[ 1.48595619 -0.23975403 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 [-1.53721105 -0.13355238 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 [-1.13412208 -0.18152459 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 ...
 [-0.12639967 -0.23922144 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 [ 1.08286723 -0.19097307 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 [-1.33566656 -0.23874803 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]]
[[-0.9325776  -0.04062593 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 [-0.52948863 -0.21896344 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 [ 0.47823378 -0.21740513 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 ...
 [ 0.67977826 -0.2327515  -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 [-0.12639967  0.06423439 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]
 [-0.12639967 -0.23809709 -0.04335347 ... -0.00663427 -0.01707812
  -0.05064325]]